/*Settings for the whole page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins";
}

/*Creating Variables for colors = easy access*/
:root{
    --primary-bg-color: #000000;
    --secondary-bg-color: #25041a;
    --text-color: white;
    --primary-color: #FF204E;
}

html{
    font-size: 60%;
    overflow: auto;
}

body{
    background: var(--primary-bg-color);
    color: var(--text-color);
}

body a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}

/*Navigation Bar/Header*/

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%; /*15 top and buttom, 15% right left*/
    background-color: rgba(0, 0, 0, 0.3); /*transparent effect*/
    backdrop-filter: blur(10px); /*makes it look like a glass*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /*just making sur its on top of everything and does not disappear*/
}

#menu-icon{
    font-size: 3.5rem;
    color: var(--primary-color);
    display: none;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
/*Makes logo a bit bigger upon hovering*/
.logo:hover{
    transform: scale(1.1);
}

/*Adds color to my logo text*/
span{
        background: linear-gradient(
        270deg,
        #FD4470 10%,
        #FF204E 50%,
        #A0153E 100%
    );
    background-clip: text;
    color: transparent;
}

/*Adjusting the appearance and spacing of may navbar links*/
.nav-bar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
/* nav link changes upon hover*/
.nav-bar a:hover{
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

/*Adds styling to the button and gives gradient effect*/
.btn-gradient{
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(
        270deg,
        #FD4470 10%,
        #FF204E 50%,
        #A0153E 100%
    );
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: var(--text-color);
    border: none;
    text-wrap: nowrap;
}
/*Makes btn a bit bigger upon hover*/
.btn-gradient:hover{
    transform: scale(1.05);
}


/*Home Section*/

section{
    min-height: 100vh;
    padding: 10rem 15%;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.home-content h1{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content h3{
    margin: 1rem 0;
    font-size: 4rem;
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}
.home-img img{
    width: 45vh;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--primary-color);
    transition: 0.4s ease-in-out;
}
/*A cool expanding light effect around the img upon hover*/
.home-img img:hover{
    box-shadow: 0 0 25px var(--primary-color),
                0 0 50px var(--primary-color),
                0 0 100px var(--primary-color);
}

/*Adds style to the social media icons*/
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}
/*changes the icons text and background color and it makes it a bit bigger
and moves to the left a bit upon hover*/
.social-icons a:hover{
    color: var(--text-color);
    background-color: var(--primary-color);
    transform: scale(1.2)translate(-5px);
    box-shadow: 0 0 25px var(--primary-color);
}

/*Style for the Hire me and contact button*/
.btn-group{
    display: flex;
    gap: 1.5rem;
}
/*General styling for both buttons*/
.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--primary-color);
    box-shadow: 0 0 25px var(--primary-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--primary-color),
                0 0 50px var(--primary-color);
}
/*changes the styling of the 2nd button which is the nth (Contact btn)*/
.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--primary-color);
    background-color: var(--primary-color);
    color: black;
}

/*About Page*/

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--secondary-bg-color);
}
.about-img img{
    width: 32vh;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--primary-color);
    transform: 0.4s ease-in-out;
}
/*A cool expanding light effect around the img upon hover*/
.about-img img:hover{
    box-shadow: 0 0 25px var(--primary-color),
                0 0 50px var(--primary-color),
                0 0 100px var(--primary-color);
    transition: 0.4s ease-in-out;
}
.about-content h2{
    font-size: 7rem;
    text-align: left;
}
.about-content p{
    font-size: 1.8rem;
}
.about-content .btn{
    margin: 3rem 0;

}

/*Adding a nice scrollbar effect*/

/*for Chrome, Edge, Safari*/
::-webkit-scrollbar{
    width: 14px;
    height: 14px;
}
::-webkit-scrollbar-track{
    background-color: var(--primary-bg-color);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(
        180deg, 
        #FD4470 10%,
        #FF204E 50%, 
        #A0153E 100%);
    border-radius: 999px;
    border: 3px solid transparent;
    background-clip: padding-box;
}
/*For Firefox*/
*{
    scrollbar-width: thin;
    scrollbar-color: #FF204E var(--primary-bg-color);
}
 /* reduces layout shift when scrollbar appears */
:root{
    scrollbar-gutter: stable;
}

/*Services Page*/

.heading{
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;
}

.services{
    background-color: var(--primary-bg-color);
    color: black;
}
.services h2{
    color: var(--text-color);
}
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(200px, 1fr));
    align-items: center;
    gap: 2.5rem;
}
.service-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: 600px;
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transform: 0.3s ease-in-out;
}
.service-cards:hover{
    background: var(--secondary-bg-color);
    color: var(--text-color);
    border: 2px solid var(--primary-color);
    transform: scale(1.03);
    box-shadow: 0 0 10px var(--primary-color),
                0 0 15px var(--primary-color),
                0 0 20px var(--secondary-bg-color);
    transition: 0.5s ease-in-out;
}
.service-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.service-info h4{
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
}
.service-info p{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
}
.service-info i{
    font-size: 8rem;
}

/*Contact Section*/
.contact{
    background-color: var(--secondary-bg-color);
}
.contact h2{
    margin-bottom: 3rem;
    color: var(--text-color);
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: var(--primary-bg-color);
    border-radius: 2rem;
    border: 2px solid var(--primary-color);
    margin: 1.5rem 0;
    resize: none;
}

/*Footer*/
.footer{
    background-color: var(--secondary-bg-color);
    padding: 50px 0;
}
.footer .social-icons{
    text-align: center;
}
.footer ul{
    text-align: center;
    font-size: 1.8rem;
}
.footer ul li{
    display: inline-block;
    margin: 20px;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--primary-color);
}
.footer .copyright{
    text-align: center;
    margin: 40px;
    font-size: 16px;
}

.footer-contact{
    text-align: center;
    margin: 2rem 0;
    font-size: 1.6rem;
    line-height: 2.5rem;
}
.footer-contact p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    color: var(--text-color);
}
.footer-contact p a{
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s;
}
.footer-contact p a:hover{
    text-decoration: underline;
}

/*responsive of the website in different screen sizes*/
@media(max-width: 1285px){
    #menu-icon{
        display: block;
        cursor: pointer;
        transition: transform 0.3s ease-in-out, color 0.3s ease;
        position: relative;
        z-index: 2000;
    }
    #menu-icon:hover{
        color: var(--primary-color);
        transform: rotate(90deg);
    }
    /*rotate icon slightly when active*/
    #menu-icon.bi-x-lg{
        transform: rotate(180deg);
    }

    /*sliding navbar*/
    .nav-bar{
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    border-bottom-left-radius: 1rem;
    border-left: 2px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    transition: right 0.4s ease-in-out;
    z-index: 999;
    }
    /*When menu is opened*/
    .nav-bar.active{
        right: 0;
    }
    .nav-bar.active a{
        animation: fadeIn 0.4s ease forwards
    }
    @keyframes fadeIn {
        from{
            opacity: 0;
            transform: translateX(20px);
        }to{
            opacity: 1;
            transform: translateX(0);
        }
    }
    /*nav link style*/
    .nav-bar a{
        font-size: 2.2rem;
        color: var(--text-color);
        transition: 0.3s ease-in-out;
    }
    .nav-bar a:hover{
        color: var(--primary-color);
        transform: scale(1.1);
    }

    /*hide button in smaller screen size*/
    .btn-gradient{
        display: none;
    }

    /*adjust hero/main/home section layout*/
    .home{
        flex-direction: column-reverse;
        margin-top: 10rem;
        gap: 4rem;
        text-align: center;
    }
    .home-content{
        align-items: center;
        text-align: center;
    }
    .home-img img{
       width: 80%;
    }

    .about{
        flex-direction: column-reverse;
        text-align: center;
    }
    .about h2{
        text-align: center;
        margin: 2rem 0;
    }
    .about img{
       width: 75%;
    }
    .contact form{
        flex-direction: column;
    }

    /* Contact Form */
    .contact form {
        flex-direction: column;
        gap: 1.5rem;
        padding: 0 2rem;
    }

    html, body {
        overflow-x: hidden; /* Prevent horizontal scroll */
    }

    body p {
        text-align: justify;
    }
}

@media (max-width: 768px) {
    .service-info {
        padding: 2rem; /* less padding for small screens */
    }
}

@media (max-width: 480px) {
    .service-info {
        padding: 1.5rem; /* tiny padding for really small screens */
    }
}