.projects{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.projects .slider{
    position: absolute;
    width: 300px;
    height: auto;
    top: 25%;
    /*50 percent from the margin minus half of its width value*/
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px); /*z direction*/
    /*Runs animation for x(s) and repeats continuously*/
    animation: autoRun 50s linear infinite;
}
/*This calls autoRun animation and then from stationary(0deg) to 
full rotation(360def) for a full rotating animation*/
@keyframes autoRun{
    from{
        transform:  perspective(1000px) rotateX(-10deg) rotateY(0deg);
    }to{
        transform: perspective(1000px)  rotateX(-10deg) rotateY(360deg);
    }
}
.projects .slider .items{
    position: absolute;
    /*0px away from top, left, right, bottom
    gives same position and size as the class slider*/
    inset: 0 0 0 0;
    transform: 
        /*The rotation angle of value of the y direction of each item:
            "(position -1) * (360degrees / quantity)" then multiply unit in degrees(1)*/

    rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
    translateZ(570px);
}
.projects .slider .items img{
    width: 100%;
    height: auto;
    /*avoids image distortion*/
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0 0 25px var(--primary-color);
    transition: 0.4s ease-in-out;
}
.projects .slider .items img:hover{
     box-shadow: 0 0 25px var(--primary-color),
                0 0 50px var(--primary-color),
                0 0 100px var(--primary-color);
    transform: scale(1.2)translate(-5px);
}

