/*Settings for the whole page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins";
}

/*Creating Variables for colors = easy access*/
:root{
    --primary-bg-color: #000000;
    --secondary-bg-color: #25041a;
    --text-color: white;
    --primary-color: #FF204E;
}

html{
    font-size: 60%;
    overflow: auto;
}

body{
    background: var(--primary-bg-color);
    color: var(--text-color);
}

/*Navigation Bar/Header*/

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%; /*15 top and buttom, 15% right left*/
    background-color: rgba(0, 0, 0, 0.3); /*transparent effect*/
    backdrop-filter: blur(10px); /*makes it look like a glass*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /*just making sur its on top of everything and does not disappear*/
}

#menu-icon{
    font-size: 3.5rem;
    color: var(--primary-color);
    display: none;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
/*Makes logo a bit bigger upon hovering*/
.logo:hover{
    transform: scale(1.1);
}

/*Adds color to my logo text*/
span{
        background: linear-gradient(
        270deg,
        #FD4470 10%,
        #FF204E 50%,
        #A0153E 100%
    );
    background-clip: text;
    color: transparent;
}

/*Adjusting the appearance and spacing of may navbar links*/
.nav-bar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
/* nav link changes upon hover*/
.nav-bar a:hover{
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

/*Adds styling to the button and gives gradient effect*/
.btn-gradient{
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(
        270deg,
        #FD4470 10%,
        #FF204E 50%,
        #A0153E 100%
    );
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: var(--text-color);
    border: none;
    text-wrap: nowrap;
}
/*Makes btn a bit bigger upon hover*/
.btn-gradient:hover{
    transform: scale(1.05);
}


/*Home Section*/

section{
    min-height: 100vh;
    padding: 10rem 15%;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.home-content h1{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content h3{
    margin: 1rem 0;
    font-size: 4rem;
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}
.home-img img{
    width: 45vh;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--primary-color);
    transition: 0.4s ease-in-out;
}
/*A cool expanding light effect around the img upon hover*/
.home-img img:hover{
    box-shadow: 0 0 25px var(--primary-color),
                0 0 50px var(--primary-color),
                0 0 100px var(--primary-color);
}

/*Adds style to the social media icons*/
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}
/*changes the icons text and background color and it makes it a bit bigger
and moves to the left a bit upon hover*/
.social-icons a:hover{
    color: var(--text-color);
    background-color: var(--primary-color);
    transform: scale(1.2)translate(-5px);
    box-shadow: 0 0 25px var(--primary-color);
}

/*Style for the Hire me and contact button*/
.btn-group{
    display: flex;
    gap: 1.5rem;
}
/*General styling for both buttons*/
.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--primary-color);
    box-shadow: 0 0 25px var(--primary-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--primary-color),
                0 0 50px var(--primary-color);
}
/*changes the styling of the 2nd button which is the nth (Contact btn)*/
.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--primary-color);
    background-color: var(--primary-color);
    color: black;
}

/*About Page*/

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--secondary-bg-color);
}
.about-img img{
    width: 32vh;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--primary-color);
    transform: 0.4s ease-in-out;
}
/*A cool expanding light effect around the img upon hover*/
.about-img img:hover{
    box-shadow: 0 0 25px var(--primary-color),
                0 0 50px var(--primary-color),
                0 0 100px var(--primary-color);
    transition: 0.4s ease-in-out;
}
.about-content h2{
    font-size: 7rem;
    text-align: left;
}
.about-content p{
    font-size: 1.8rem;
}
.about-content .btn{
    margin: 3rem 0;

}

/*Adding a nice scrollbar effect*/

/*for Chrome, Edge, Safari*/
::-webkit-scrollbar{
    width: 14px;
    height: 14px;
}
::-webkit-scrollbar-track{
    background-color: var(--primary-bg-color);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(
        180deg, 
        #FD4470 10%,
        #FF204E 50%, 
        #A0153E 100%);
    border-radius: 999px;
    border: 3px solid transparent;
    background-clip: padding-box;
}
/*For Firefox*/
*{
    scrollbar-width: thin;
    scrollbar-color: #FF204E var(--primary-bg-color);
}
 /* reduces layout shift when scrollbar appears */
:root{
    scrollbar-gutter: stable;
}
